alias unmountVeraCrypt="sudo veracrypt --text --dismount && sudo rm -rf /run/media/$USER/VeraCrypt/"
alias ls="exa -lah"
alias news="newsboat"
alias book="foliate"
alias unity="$HOME/AppImages/UnityHub.AppImage --no-sandbox"
alias vi="vim"
alias screenshot="xfce4-screenshooter"
alias dotfiles="git --git-dir=$HOME/.dotfiles.git --work-tree=$HOME"
alias git-dotfiles="lazygit --work-tree=$HOME --git-dir=$HOME/.dotfiles.git/"
alias wiki="obsidian &"
alias monitor0mode="xrandr --output HDMI-A-4 --off --output DisplayPort-4 --off --output DisplayPort-3 --off"
alias monitor1mode="xrandr --output HDMI-A-4 --off --output DisplayPort-4 --off"
alias monitor3mode="bash ~/.xprofile"
alias windows="sudo echo ; isolate_cpus.sh ; virsh start Win10_PCI_passthrough ; sleep 14 ; monitor1mode ; sudo monitor_switch_Windows.sh"
alias monitor_windows="monitor_switch_Windows.sh"
alias monitor_linux="monitor_switch_Linux.sh"
alias mirrorlist_generation="rate-mirrors --protocol https --max-mirrors-to-output 10 --disable-comments-in-file --save /etc/pacman.d/mirrorlist arch --max-delay=21600 --sort-mirrors-by=score_asc"
alias pacman_drop_caches="sudo paccache -rk3; yay -Sc --aur --noconfirm; yay -Syyu --noconfirm"
