alias unmountVeraCrypt="sudo veracrypt --text --dismount && sudo rm -rf /run/media/$USER/VeraCrypt/"
alias ls="exa -lah"
alias news="newsboat"
alias book="foliate"
alias unity="$HOME/AppImages/UnityHub.AppImage --no-sandbox"
alias vi="vim"
alias screenshot="xfce4-screenshooter"
alias dotfiles="git --git-dir=$HOME/.dotfiles.git --work-tree=$HOME"
alias wiki="obsidian &"
alias monitor0mode="xrandr --output HDMI-A-4 --off --output DisplayPort-4 --off --output DisplayPort-3 --off"
alias monitor1mode="xrandr --output HDMI-A-4 --off --output DisplayPort-4 --off"
alias monitor3mode="bash ~/.xprofile"
alias windows="monitor0mode ; virsh start Win10_PCI_passthrough ; sleep 10 ; watch -n 5 -g virsh domstate Win10_PCI_passthrough ; monitor3mode"
