alias unmountVeraCrypt="sudo veracrypt --text --dismount && sudo rm -rf /run/media/$USER/VeraCrypt/"
alias ls="exa -lah"
alias news="newsboat"
alias book="foliate"
alias unity="$HOME/AppImages/UnityHub.AppImage --no-sandbox"
alias vi="vim"
alias screenshot="xfce4-screenshooter"
alias dotfiles="git --git-dir=$HOME/.dotfiles.git --work-tree=$HOME"
