# My home 3-monitor setup
xrandr --output HDMI-0 --mode 1920x1080 --refresh 74.97 --output DP-0 --primary --mode 1920x1080 --rate 164.83 --right-of HDMI-0 --output DVI-D-0 --mode 1920x1080 --rate 74.97 --right-of DP-0

