# My home 3-monitor setup
#xrandr --output DP-0 --mode 1920x1080 --refresh 74.97 --output DP-2 --primary --mode 1920x1080 --rate 164.83 --right-of DP-0 --output DP-5 --mode 1920x1080 --rate 74.97 --right-of DP-2
xrandr --output DP-4 --mode 1920x1080 --refresh 74.97 --output DP-0 --primary --mode 1920x1080 --rate 164.83 --right-of DP-4 --output DP-2 --mode 1920x1080 --rate 74.97   --right-of DP-0
